.sec__metric {
	flex-wrap: wrap;
	gap: 3rem;
	padding-bottom: 6rem;
	max-width: 90vw;
	margin-inline: auto;
	align-items: flex-start;
}
.sec__metric > div {flex: 1 0 21%;}
.sec__metric__number {
	font-size: clamp(2.5rem, 6vw, 3.75rem);
	font-weight: 600;
	color: var(--register-clr);
}
.sec__metric__title {
	font-size: 1.125rem;line-height: 2.75;}
.sec__metric__text {
	font-weight: 400;
	font-size: 1rem;
	color: var(--nav-links-clr);
}
@media (min-width: 320px) and (max-width: 700px) {
	.sec__metric{max-width: 70vw;}
	.sec__metric > div {flex-basis: 100%;}
}
@media (min-width: 700px) and (max-width: 768px) {
	.sec__metric {
		max-width: 80vw;gap: 1rem;}
	.sec__metric > div {flex: 1;}
}
