.sec__vacance {
	justify-content: flex-start;
	flex-direction: column;
	max-width: 85vw;
	margin-inline: auto;
 gap: 4rem; 
 padding: clamp(3rem, 5vh, 6rem) 0;
}
.sec__vacance__talent {
	text-align: center;
	max-height: max-content;
	width: 100%;
	justify-content: start;
	flex-direction: column;	
	gap: clamp(2rem, 5vh, 4rem);
}
.sec__vacance__talent > div {
	display: flex;
	flex-flow: column nowrap;
	gap: 1.2rem;
	align-items: center;
}
.sec__vacance__subtitle {
	font-size: clamp(0.8rem, 1vw, 1.05rem);
	position: relative;
	color: var(--register-clr);
	padding: 0.3rem 0.7rem;
	border-radius: 1rem;
	overflow: hidden;
	font-weight: 500;
}
.sec__vacance__subtitle::before {
	content: "";
	position: absolute;
	inset: 0;
	z-index: -1;
	background-color: var(--register-clr);
	opacity: 0.05;
}
.sec__vacance__title {
	font-size: var(--h2-ft-sz);
	font-weight: 600;
	line-height: 2.25rem;
}
.sec__vacance__text {
	font-size: clamp(0.9rem, 2vw, 1.25rem);
	color: var(--nav-links-clr);
}

@media (max-width: 480px) {
		.sec__vacance__talent > img {width: 100vw;}
}
